.row {
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 3rem;
}
.about-section {
    background: #ffffff;
    .about-title {
        font-size: 2.2rem;
        color: #3d4949;
        margin-bottom: 2rem;
    }
    .about-para {
        line-height: 1.6;
        color: #3d4949;
    }
}

.visit-website {
    text-align: left;
    margin: 2rem 0;
    .scroll-link-btn {
        width: 250px;
        text-align: center;
        background: #ff4f62;
        padding: 10px;
        border-radius: 25px;
        color: white;
    }
}

.first-row {
    border-bottom: 1px solid #d1d1d3;
}
.pic-card { 
    padding-top: 2rem;
    .card-img {
        margin-bottom: 1rem;
    }
    .card-title {
        margin-top: 1rem;
        h4 {
            font-size: 20px;
            font-weight: bolder;
            color: #3c4848;
            letter-spacing: 0.8px;
        }
        p {
            margin-top: 2rem;
            line-height: 1.3;
            color: gray;
        }
    }
    .about-read-more {
        text-align: left;
        margin: 2rem 0;
        .scroll-link-btn {
            width: 200px;
            text-align: center;
            background: #ff4f62;
            padding: 7.5px;
            border-radius: 25px;
            color: white;
        }
    }
}
.third-row {
    border-bottom: 1px solid #d1d1d3;
    padding-bottom: 5rem;
}
.about-irish {
    margin-bottom: 5rem;
    margin-top: 5rem;
    .about-title {
        font-size: 3rem;
        color: #3d4949;
        margin-bottom: 2rem;
    }
    .about-sub {
        font-size: 20px;
        font-family: ui-sans-serif;
    }
    .image-sec {
        img {
            width: calc(100% -  100px);
            border-radius: 10px;
        }
    }
    .content {
        p {
            margin-bottom: 2rem;
        }
    }
}