<section class="about-irish">
    <div class="container">
        <div class="row">
            <h4 class="about-title">
                About Irish Tech Society
            </h4>
            <p class="about-sub">
                A non-profit, collaborative community platform accessible to anyone anywhere in the global tech sector.
            </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="image-sec">
                    <img src="./assets/images/lady-with-tab.png" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="content">
                    <p>
                        <b>Irish Tech Society</b> is a unique, non-profit organisation. Whilst recognising the power of
                        technology in transforming our lives and our society, we focus on the people who innovate,
                        develop, and ultimately benefit from those technologies.

                    </p>
                    <p>
                        Our mission is to offer leadership, guidance, continuous learning and professional development
                        opportunities to all individuals in the tech sector worldwide.

                    </p>
                    <p>
                        We do this while simultaneously promoting Ireland as a global tech capital. Due to its highly
                        collaborative tech ecosystem, higher standards of education, geographical advantage as the
                        closest market access point between the US, Canada, UK and EU, Ireland already has a special
                        place in the global tech sector.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section">
    <div class="container">
        <div class="row first-row">
            <div class="col-md-6">
                <div class="about-content">
                    <h4 class="about-title">
                        Become a member
                    </h4>
                    <p class="about-para">
                        <b>Irish Tech Society</b> is a unique, non-profit organisation. Whilst recognising the power of
                        technology in transforming our lives and our society, we focus on the people who innovate,
                        develop, and ultimately benefit from those technologies.
                    </p>
                    <p>
                        Our mission is to offer leadership, guidance, continuous learning and professional development
                        opportunities to all individuals in the tech sector worldwide.

                    </p>
                    <div class="visit-website">
                        <a type="button" class="scroll-link-btn"> <span>Visit Our Website
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-picture">
                    <img src="./assets/images/fruit.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row sec-row">
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/awarness.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Awareness Programs
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/branding.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Personal and Professional Branding
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/networking.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Professional networking and introduction
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-title">
                        <h4>

                            Individual Spacing
                        </h4>
                        <p>
                            Writing effectively is an art. Start by using simple, everyday words people can easily
                            understand.
                        </p>
                    </div>
                    <div class="about-read-more">
                        <a type="button" class="scroll-link-btn"> <span>Read More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section">
    <div class="container">
        <div class="row third-row">
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/skills.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Skills development and recognitions
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/mentor.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Mentorship and training programs
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/workshop.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Bootcamps, workshops and competitions
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/programs.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Entreprenurship Acceleration programs
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row fourth-row">
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-title">
                        <h4>
                            Industry Partnership
                        </h4>
                        <p>
                            Create more opportunities and bridge the gaps between the stakeholders across various
                            sectors while benefiting from exclusive perks, offers and discounts on all ITS services
                            through our corporate partnership program.
                        </p>
                    </div>
                    <div class="about-read-more">
                        <a type="button" class="scroll-link-btn"> <span>Read More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/computer.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Tech development service
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/chair.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Advisory Service
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/chair.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Advisory Service
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>