<header>
    <nav class="navbar-default" role="navigation">
        <div class="logo">
            <img src="./assets/images/logo.png" alt="">
        </div>
        <div class="menu">
            <ul class="nav nav-links">
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/']">Product</a></li>
                <li><a [routerLink]="['about-us']">Abou Us</a></li>
                <li><a [routerLink]="['/']">Features</a></li>
                <li><a [routerLink]="['/']">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>