<section class="about-section-third">
    <div class="container-fluid">
        <div class="header">
            <h1>
                About the Hackathon
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row  about-hack">
            <div class="col-md-3">
                <div class="upper-section">
                    <h6>
                        What are
                        <br> hackathons?
                    </h6>
                    <p>
                        A hackathon is a tech competition where inventors, programmers, designers, and industry experts
                        collaborate with each other to solve a problem. It is fun, career-focused and highly
                        competitive. Attendees work continuously and often overnight for days to win the challenge as
                        they battle against the clock and other teams.
                    </p>
                </div>
                <div class="lower-section">
                    <img src="./assets/images/lower2.png" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="center-img">
                    <img src="./assets/images/about-1.png" alt="">
                </div>
                <div class="center-content">
                    <h6>
                        Why participate?
                    </h6>
                    <p>
                        Hackathons are a perfect opportunity for collaborations between individuals and organisations
                        across all sectors. It is also a great opportunity to showcase your talent and skills in front
                        of a wide number of employers and recruiters. Attendees will also receive extensive coaching and
                        mentoring sessions from top industry experts, leaders and scholars at these events.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="upper-section">
                    <h6>
                        What experience do I need to attend?
                    </h6>
                    <p>
                        While experience in the front end, back end and database programming is a huge plus, teams will
                        also need people with strong skills in Marketing, Graphic designing, business analysis, pitching
                        and presentation as well as people management, etc
                        So, if you are an expert in any of these skills, BIngo!.

                    </p>
                </div>
                <div class="lower-section">
                    <img src="./assets/images/lower1.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how-it-works-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/team.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-title">
                        <h4>
                            Programmers
                        </h4>
                        <p>
                            Front end / Back end developers, as well as database administrators, will be required in
                            almost 99% of teams.
                        </p>
                    </div>
                    <div class="about-read-more">
                        <a type="button" class="scroll-link-btn"> <span>Book Tickets
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/member.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-title">
                        <h4>
                            Analysts
                        </h4>
                        <p>
                            Depending on the idea pitched by the leader, some of the teams may need assistance from
                            Business Analysts, Data Analysts, market analysts etc.
                        </p>
                    </div>
                    <div class="about-read-more">
                        <a type="button" class="scroll-link-btn"> <span>Read More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/member.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-title">
                        <h4>
                            UI/UX designers
                        </h4>
                        <p>
                            They are an added advantage to many teams in designing a product that looks professional and
                            creates a great impression among the judges.
                        </p>
                    </div>
                    <div class="about-read-more">
                        <a type="button" class="scroll-link-btn"> <span>Read More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/team.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-title">
                        <h4>
                            Marketers
                        </h4>
                        <p>
                            Marketers such as digital marketing professionals, branding and social media experts are
                            also highly attractive to team leaders.
                        </p>
                    </div>
                    <div class="about-read-more">
                        <a type="button" class="scroll-link-btn"> <span>Read More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="overview">
    <div class="container-fluid">
        <div class="header">
            <h1>
                Overview
            </h1>
        </div>
    </div>
    <div class="container overview-container">
        <div class="row">
            <div class="col-md-4">
                <div class="image-sec">
                    <img src="./assets/images/lady-with-tab.png" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="content">
                    <p>
                        On the day of the hackathon, the facilitators will introduce the theme and the problems.
                        Attendees
                        will then be given a short period to brainstorm and come up with ideas. Once this time is up,
                        those
                        who wish to pitch their ideas will be given 180 seconds to do so. Not all attendees are required
                        to
                        pitch ideas.
                    </p>
                    <p>
                        After the pitches are presented, individuals with the best ideas will be selected to advance to
                        the
                        next level as team leaders. The team leaders will then announce the skills they are looking for
                        in
                        their teams to build a prototype of the solution they have pitched successfully. The skills
                        required
                        in each group vary from one another. These skills, however, are usually as follows.

                    </p>
                    <ul>
                        <li>
                            Project managers
                        </li>
                        <li>
                            Business Analysts
                        </li>
                        <li>
                            UI/UX Designers

                        </li>
                        <li>
                            Front End/ Back End Devs

                        </li>
                        <li>
                            Database Administrators

                        </li>
                        <li>
                            Marketers, etc.

                        </li>
                    </ul>
                    <p>
                        Once the teams are formed, they move on to the development stage from Day 2.

                    </p>
                    <p>
                        Full schedules of the hackathon workshops, seminars, talks, and coaching and mentoring sessions
                        will
                        be published closer to the event date.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="about-section">
    <div class="container">
        <div class="row first-row">
            <div class="col-md-6">
                <div class="about-content">
                    <h4 class="about-title">
                        About Irish Tech Society
                    </h4>
                    <p class="about-para">
                        Writing effectively is an art. Start by using simple, everyday words<br> people can easily
                        understand. Be clear and direct to the point. Keep<br> your thoughts flowing logically, and aim
                        for
                        brevity unless you’re<br> writing in the long form.
                    </p>
                    <p class="about-para">
                        Your ideas have a purpose so choose words that accurately express them
                    </p>
                    <div class="visit-website">
                        <a type="button" class="scroll-link-btn"> <span>Visit Our Website
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-picture">
                    <img src="./assets/images/fruit.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row sec-row">
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/awarness.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Awareness Programs
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/branding.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Personal and Professional Branding
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/networking.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Professional networking and introduction
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-title">
                        <h4>
                            Individual Spacing
                        </h4>
                        <p>
                            Writing effectively is an art. Start by using simple, everyday words people can easily
                            understand.
                        </p>
                    </div>
                    <div class="about-read-more">
                        <a type="button" class="scroll-link-btn"> <span>Read More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section">
    <div class="container">
        <div class="row third-row">
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/skills.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Skills development and recognitions
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/mentor.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Mentorship and training programs
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/workshop.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Bootcamps, workshops and competitions
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/programs.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Entreprenurship Acceleration programs
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row fourth-row">
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-title">
                        <h4>
                            Individual Spacing
                        </h4>
                        <p>
                            Writing effectively is an art. Start by using simple, everyday words people can easily
                            understand.
                        </p>
                    </div>
                    <div class="about-read-more">
                        <a type="button" class="scroll-link-btn"> <span>Read More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/computer.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Tech development service
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/chair.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Advisory Service
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/chair.png" alt="" />
                    </div>
                    <div class="card-title">
                        <h4>
                            Advisory Service
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->