<div class="close" (click)="close()">
    X
</div>
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header text-center">
                    <h1>
                        Shadowing at our Hackathon
                    </h1>
                </div>
            </div>
        </div>
        <div class="row first-content">
            <div class="col-md-3">
                <div class="upper-section">
                    <h6>
                        What is the role<br> of a shadow?
                    </h6>
                    <p>
                        The role of a shadow is to follow around a certain group of people in order to gain real-life,
                        practical experience by observing their activities and aiding them to carry out duties.
                    </p>
                    <p>
                        A perfect example of such training would be medical students accompanying their senior doctors
                        and peers during patient visits.
                    </p>
                </div>
                <div class="lower-section">
                    <img src="./assets/images/lower2.png" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="center-img">
                    <img src="./assets/images/group.png" alt="" class="intro-img" />
                </div>
                <div class="center-content">
                    <h6>
                        What will be the experience like?
                    </h6>
                    <p>
                        Your role as a shadow will commence on the 31st of January 2022 - one week prior to the actual
                        event. We will invite you to attend an Induction at our HQ on your first day. This induction
                        will give you an in-depth understanding of all the tools, technologies and services we will be
                        using during the event, as well as, help you set up for your day to day activities in the
                        office. We will also give you a tour of the venue and introduce you to the ITS events team and
                        all the key people you will be interacting with during the event.
                    </p>
                    <p>
                        We will provide you with all the tools and software required to efficiently carry out your
                        duties and responsibilities. However, you will be required to bring your own laptop.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="upper-section">
                    <h6>
                        What training<br> will I recieve?
                    </h6>
                    <p>
                        You will receive intensive training in the areas of project management, event planning, web/app
                        development people management, hospitality, marketing, sales and business development etc.
                    </p>
                    <p>

                        Shadows who showcase outstanding performance in their role may also be eligible to become
                        Ambassadors of Irish Tech Society.
                    </p>
                </div>
                <div class="lower-section">
                    <img src="./assets/images/lower1.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="signup-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/images/signup.png" alt="" />
            </div>
            <div class="col-md-6 signup-form">
                <div class="form-box">
                    <div class="header">
                        <h3>
                            Create new <br>
                            Account
                        </h3>
                        <p>
                            Already Registered? <b>Login</b>
                        </p>
                    </div>
                    <div class="form">
                        <form>
                            <div class="form-group">
                                <label for="fname" class="control-label">Please Enter Your Name</label>
                                <input type="text" class="form-control" id="fname" placeholder="First name">
                            </div>
                            <div class="form-group">
                                <label for="fname" class="control-label">Please Enter Email</label>
                                <input type="text" class="form-control" id="fname" placeholder="First name">
                            </div>
                            <div class="form-group">
                                <label for="fname" class="control-label">Please Enter Your Password</label>
                                <input type="text" class="form-control" id="fname" placeholder="First name">
                            </div>
                            <div class="form-group">
                                <label for="fname" class="control-label">Please Enter Date of Birth</label>
                                <input type="text" class="form-control" id="fname" placeholder="First name">
                            </div>
                            <div class="form-group signup-btn">
                                <button class="btn">
                                    SIGN UP
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>