<carousel [cellWidth]="'100%'" [height]="600" [autoplay]="true" [loop]="true">
    <section class="banner-big-main para position-r carousel-cell" style="background: url(&quot;assets/images/1.png&quot;) 50% 0px no-repeat fixed;
        background-size: cover;">
        <div class="container">
            <div class="home-content">
                <div class="row home-content__main">
                    <h2> International<br>
                        Hackathon '22
                    </h2>
                    <div class="home-content__sec">
                        <a href="#contact" class="smoothscroll">
                            Win upto to $10000 in cash award at this 5-days
                            long <br>
                            coding challenge to build solutions that will help us <br> prevent future pandemics
                        </a>
                    </div>
                    <div class="home-content__button">
                        <a type="button" class="scroll-link-btn"> <span>Buy Tickets
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-big-main para position-r carousel-cell" style="background: url(&quot;assets/images/heart-inhands.png&quot;) 50% 0px no-repeat fixed;
            background-size: cover;">
        <div class="container">
            <div class="home-content">
                <div class="row home-content__main">
                    <h2 style="color: #ffde59;"> 'No more Pandemics'
                    </h2>
                    <div class="home-content__sec">
                        <a href="#contact" class="smoothscroll">
                            International Hackathon 2022 aims to find<br> technological solutions that will help us
                            prevent<br>
                            future pandemics.
                        </a>
                    </div>
                    <div class="home-content__button">
                        <a type="button" class="scroll-link-btn"> <span>Get in Touch
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-big-main para position-r carousel-cell" style="background: url(&quot;assets/images/1.png&quot;) 50% 0px no-repeat fixed;
    background-size: cover;">
        <div class="container">
            <div class="home-content">
                <div class="row home-content__main">
                    <h2> International<br>
                        Hackathon '22
                    </h2>
                    <div class="home-content__sec">
                        <a href="#contact" class="smoothscroll">
                            Win upto to $10000 in cash award at this 5-days
                            long <br>
                            coding challenge to build solutions that will help us <br> prevent future pandemics
                        </a>
                    </div>
                    <div class="home-content__button">
                        <a type="button" class="scroll-link-btn"> <span>Buy Tickets
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-big-main para position-r carousel-cell" style="background: url(&quot;assets/images/heart-inhands.png&quot;) 50% 0px no-repeat fixed;
        background-size: cover;">
        <div class="container">
            <div class="home-content">
                <div class="row home-content__main">
                    <h2 style="color: #ffde59;"> 'No more Pandemics'
                    </h2>
                    <div class="home-content__sec">
                        <a href="#contact" class="smoothscroll">
                            International Hackathon 2022 aims to find<br> technological solutions that will help us
                            prevent<br>
                            future pandemics.
                        </a>
                    </div>
                    <div class="home-content__button">
                        <a type="button" class="scroll-link-btn"> <span>Get in Touch
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</carousel>