<section class="how-it-works-section-four">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header">
                    <h3>
                        Become a
                    </h3>
                    <p>
                        Shadow
                    </p>
                </div>
                <div class="content">
                    <p>
                        you are a tech enthusiast, a tech student or someone who is simply looking to get a flavour of
                        the hackathon for the first time, this opportunity is designed specifically for you.
                    </p>
                    <p>
                        Gain mentorship from career coaches and advisors during sessions that are exclusive to Shadows.
                        There will also be ample opportunities for you to receive plenty of training in Project
                        management, Web/app development and event management from our team of experts and other
                        volunteering professionals.

                    </p>
                </div>
                <div class="footer">
                    <a type="button" class="scroll-link-btn" (click)="showRegisterInterest()"> <span>Register your
                            interest
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="how-it-works-section-three">
    <div class="container">
        <div class="row left-right">
            <div class="col-md-6">
                <div class="header">
                    <h3>
                        Become a
                    </h3>
                    <p>
                        Facilitator
                    </p>
                </div>
                <div class="content">
                    <p>
                        Writing effectively is an art. Start by using<br> simple, everyday words people can easily<br>
                        understand. Be clear and direct to the point.<br> Keep your thoughts flowing logically, and aim
                        for<br>
                        brevity unless you’re writing in the long form.
                    </p>
                    <p>
                        Your ideas have a purpose so choose words that<br> accurately express them. Ensure your
                        grammar<br> is
                        flawless as it impacts your credibility. Use the<br> active voice whenever possible as it makes
                        any<br>
                        narrative easier to read.

                    </p>
                </div>
                <div class="footer">
                    <a type="button" class="scroll-link-btn"> <span>Read More
                        </span>
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <img src="./assets/images/facilitator.png" alt="" />
            </div>
        </div>
        <div class="row right-left">
            <div class="col-md-6">
                <img src="./assets/images/mentoring.png" alt="" />
            </div>
            <div class="col-md-6">
                <div class="header">
                    <h3>
                        Become a
                    </h3>
                    <p>
                        Mentor
                    </p>
                </div>
                <div class="content">
                    <p>
                        Every hackathon needs good mentors and coaches who can help the competing teams navigate through
                        the problems and challenges that arise during the competition.

                    </p>
                    <p>
                        Mentors play a significant role in the final results produced by each team. Team coaches ensure
                        that each member of the team are motivated and are comfortable in continuing the challenge while
                        mentors ensure the products/solutions created by the team matches with teh expectations of the
                        judges.

                    </p>
                </div>
                <div class="footer">
                    <a type="button" class="scroll-link-btn"> <span>Read More
                        </span>
                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="header">
                    <h3>
                        Become a
                    </h3>
                    <p>
                        Speaker
                    </p>
                </div>
                <div class="content">
                    <p>
                        Writing effectively is an art. Start by using simple, everyday words people can easily
                        understand. Be clear and direct to the point. Keep your thoughts flowing logically, and aim for
                        brevity unless you’re writing in the long form.
                    </p>
                    <p>
                        Your ideas have a purpose so choose words that accurately express them. Ensure your grammar is
                        flawless as it impacts your credibility. Use the active voice whenever possible as it makes any
                        narrative easier to read.

                    </p>
                </div>
                <div class="footer">
                    <a type="button" class="scroll-link-btn"> <span>Read More
                        </span>
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <img src="./assets/images/speaker.png" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="recruter-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/images/recruter.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="recruter-content">
                    <div class="header">
                        <h3>
                            Recruiters are<br> Welcome!
                        </h3>
                    </div>
                    <div class="content">
                        <p>
                            Whether you are an in-house recruiter at a leading organisation or a third-party recruitment
                            consultant in Ireland or abroad, you wouldn't wanna miss our International Hackathon.

                        </p>
                        <p>
                            ur hackathon attendees are highly sought after due to their technical skills. They also
                            undergo extensive coaching and mentoring sessions during the event. We provide various
                            workshops in skills such as career branding, CV writing, interview preparation,
                            communication and business presentation skills, etc. that enable them to advance further in
                            careers in a very short period of time as well.

                        </p>
                        <p>
                            Download the pdf below to find out more about our Recruiter packs.
                        </p>
                    </div>
                    <div class="footer">
                        <a type="button" class="scroll-link-btn"> <span>Read More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="how-it-works-section">
    <div class="container">
        <div class="row first-row">
            <div class="col-md-6">
                <div class="how-it-works-content">
                    <h1 class="how-it-works-title">
                        How it works
                    </h1>
                    <p class="how-it-works-para">
                        On the day of the hackathon, the facilitators will introduce the<br> theme and the problems.
                        Attendees will then be given a short<br> period of time to brainstorm and come up with ideas.
                        Once
                        this <br>time is up, those who wish to pitch their ideas will be given 180 <br>seconds to do so.
                        <b>(Not
                            all attendees are required to pitch).</b>


                    </p>
                    <p class="how-it-works-para">
                        After the pitches are presented, individuals with the best ideas<br>
                        will be selected to advance to
                        the next level as team leaders. <br> The team leaders
                        will then announce the skills they are looking<br>
                        for in their teams to successfully build a prototype of the<br> solution they have pitched.
                        These
                        skills are usually as follows.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="how-it-works-picture">
                    <img src="./assets/images/how-it-works.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row sec-row">
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/team.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-title">
                        <h4>
                            Bring your own team
                        </h4>
                        <p>
                            You can bring your own team of up to 7 members to the hackathon. Click below to see the
                            pricing for Team Tickets.
                        </p>
                    </div>
                    <div class="about-read-more">
                        <a type="button" class="scroll-link-btn"> <span>Read More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-img">
                        <img src="./assets/images/member.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pic-card">
                    <div class="card-title">
                        <h4>
                            Join a team
                        </h4>
                        <p>
                            If you are an individual who wants to enjoy the thrill of the hackathon to the fullest, form
                            your own team or join one during the development stage.
                        </p>
                    </div>
                    <div class="about-read-more">
                        <a type="button" class="scroll-link-btn"> <span>Read More
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how-it-works-section-two">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="content">
                    <h2>
                        Shadowing Oppurtunities
                    </h2>
                    <p style="padding-right: 10%;">
                        Writing effectively is an art. Start by using simple, everyday words people can easily
                        understand. Be clear and direct to the point. Keep your thoughts flowing logically, and aim for
                        brevity unless you’re writing in the long form.
                        Your ideas have a purpose so choose words that accurately express them. Ensure your grammar is
                        flawless as it impacts your credibility. Use the active voice whenever possible as it makes any
                        narrative easier to read.

                    </p>
                </div>

                <div class="reg__button">
                    <a type="button" class="scroll-link-btn"> <span>REGISTER YOUR INTEREST
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="img-content">
                    <img src="./assets/images/oppurtunity.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how-it-works-section-three">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header">
                    <h3>
                        Become a
                    </h3>
                    <p>
                        Facilitator
                    </p>
                </div>
                <div class="content">
                    <p>
                        Writing effectively is an art. Start by using simple, everyday words people can easily
                        understand.
                        Be clear and direct to the point. Keep your thoughts flowing logically, and aim for brevity
                        unless
                        you’re writing in the long form.

                        Your ideas have a purpose so choose words that accurately express them. Ensure your grammar is
                        flawless as it impacts your credibility. Use the active voice whenever possible as it makes any
                        narrative easier to read.

                    </p>
                </div>
                <div class="footer">
                    <a type="button" class="scroll-link-btn"> <span>Read More
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="how-it-works-section-four">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header">
                    <h3>
                        Become a
                    </h3>
                    <p>
                        Facilitator
                    </p>
                </div>
                <div class="content">
                    <p>
                        Writing effectively is an art. Start by using simple, everyday words people can easily
                        understand.
                        Be clear and direct to the point. Keep your thoughts flowing logically, and aim for brevity
                        unless
                        you’re writing in the long form.

                        Your ideas have a purpose so choose words that accurately express them. Ensure your grammar is
                        flawless as it impacts your credibility. Use the active voice whenever possible as it makes any
                        narrative easier to read.

                    </p>
                </div>
                <div class="footer">
                    <a type="button" class="scroll-link-btn"> <span>Read More
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section> 
<section class="how-it-works-section-four">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header">
                    <h3>
                        Become a
                    </h3>
                    <p>
                        Facilitator
                    </p>
                </div>
                <div class="content">
                    <p>
                        Writing effectively is an art. Start by using simple, everyday words people can easily
                        understand.
                        Be clear and direct to the point. Keep your thoughts flowing logically, and aim for brevity
                        unless
                        you’re writing in the long form.

                        Your ideas have a purpose so choose words that accurately express them. Ensure your grammar is
                        flawless as it impacts your credibility. Use the active voice whenever possible as it makes any
                        narrative easier to read.

                    </p>
                </div>
                <div class="footer">
                    <a type="button" class="scroll-link-btn"> <span>Read More
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section> -->


<div class="reg-modal" [@slideInOut]="animationState">
    <app-sign-up (closeEvnt)="closeEvnt()"></app-sign-up>
</div>